// Main colors custom bootstrap
$primary: #ff6a00;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

// the ~ allows you to reference things in node_modules
@import "vars";

/*! Search Filter */
.text-filters {
  text-transform: uppercase;
  font-size: 12px;
}

.text-brands {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bolder;
  color: #ea8b2e;
}

.text-promo, .text-promo:hover {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bolder;
  color: #ffffff;
  text-decoration: none;
  background-color: #ea8b2e;
}

.text-small, .text-small:hover {
  color: #000000;
  text-decoration: none;
}

/*! Catalog card product*/
.main-card-product {
  text-align: center;
  h5 {
    font-size: 18px;
    font-weight: 600;
  }
  p {
    font-size: 14px;
  }
  li:first-child {
    font-size: 20px;
    font-weight: 600;
  }
  li:last-child {
    font-weight: 600;
  }
}