{% extends 'base.html.twig' %}

{% block body %}
    <h2>Le catalogue des produits par <strong>marque :</strong></h2>
    <ul>
    {% for productByBrand in productsByBrand %}
        {% for brand in productByBrand.buckets %}
            <li>{{ brand.value }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endblock %}