<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Coach 2 Store{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light pt-0 pb-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand"><img class="h-25 w-50" src="/images/c2s.png"></a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item mr-5">
                    <a class="nav-link" href="#"><i class="fas fa-users mr-1"></i>Les coachs</a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link" href="#"><i class="fas fa-comment mr-1"></i>Demander un conseil</a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link" href="#"><i class="fas fa-shopping-bag mr-1"></i>Catalogue</a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link" href="#"><i class="fas fa-user mr-1"></i>Connexion</a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link" href="#"><i class="fas fa-file-alt mr-1"></i>Inscription</a>
                </li>
            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Rechercher..." aria-label="Search">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"><i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </nav>
</header>
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
