{% block body %}
    <div class="mt-2 ml-4 d-flex flex-column" style="width: 18%">
        <a class="line-catalog" href="{{ path('catalog_home') }}">Catalogue</a>
        <p class="text-filters"><i class="fas fa-sort-down fa-2x"></i> Filtres</p>
        {# Brand block #}
        <div class="card">
            <div class="card-header">
                <p class="text-brands text-primary">Marques</p>
                <hr>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="d-flex flex-column">
                            {% for productByBrand in productsByBrand %}
                                {% for brand in productByBrand.buckets | slice (1, 2) %}
                                    <label class="list-filter">
                                        <input type="checkbox"> {{ brand.value }}
                                    </label>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <small class="text-muted"><a class="text-small list-filter" href="#">Voir plus</a></small>
                <hr>
            </div>
        </div>
        {# Promotion block #}
        <div class="card">
            <hr>
            <a class="mx-auto mt-4 mb-4 text-promo text-primary" href="#">PROMOTIONS !</a>
            <hr>
        </div>
        {# Supplier block #}
        <div class="card">
            <div class="card-header">
                <p class="text-brands text-primary">Fournisseurs</p>
                <hr>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="d-flex flex-column">
                            {% for productBySupplier in productsBySupplier %}
                                {% for supplier in productBySupplier | slice (6) %}
                                    <label class="list-filter">
                                        <input type="checkbox"> {{ supplier.value }}
                                    </label>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <small class="text-muted"><a class="text-small list-filter" href="#">Voir plus</a></small>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}